.about {
  padding: 20px;
  color: white;
}

.about__content {
  display: flex;
  align-items: center;
}

.about__profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
}

.about__text {
  max-width: 600px;
}

.about__text h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.about__text p {
  font-size: 1.2rem;
  line-height: 1.5;
}
